body {
  font-family: 'Roboto', sans-serif;
  height: 100vh;
  width: 100%;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}


/* NAVIGATION */

nav {
  height: 70px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

nav a {
  display: flex;
  align-items: center;
  color: rgba(0, 0, 0, 0.75);
  font-size: 14px;
  font-weight: 500;
}

.nav-links {
  width: 250px;
  display: flex;
  justify-content: space-evenly;
}

.nav-links img {
  width: 33px;
  border-radius: 50%;
  cursor: pointer;
}

.material-icons {
  cursor: pointer;
  font-size: 26px;
}


/* Search Bar and Google Logo */

.google-logo {
  display: block;
  margin: 0 auto;
  padding-top: 150px;
  padding-bottom: 30px;
}

.search-bar {
  display: block;
  margin: 0 auto;
  width: fit-content;
  height: 42px;
  position: relative;
}


#search-icon {
  position: absolute;
  left: 15px;
  top: 10px;
  color: #5F6368;
  cursor: default;
}

#mic-icon {
  position: absolute;
  right: 10px;
  top: 6px;
}

.search-bar img {
  width: 33px;
}

input[type="text"] {
  display: block;
  margin: 0 auto;
  width: 50vw;
  max-width: 480px;
  height: 42px;
  border-radius: 30px;
  padding: 0 50px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  font-size: 17px;
}

input[type="text"]:hover {
  box-shadow: 1px 1px 5px 0 #BEBFBE;
}

input[type="text"]:focus {
  outline: none;
  box-shadow: 1px 1px 5px 0 #BEBFBE;
}


/* OPTIONS */

.options {
  width: fit-content;
  display: block;
  margin: 0 auto;
}

input[type="submit"] {
  background-color: #f2f2f2;
  color: #5F6368;
  border: none;
  font-size: 14px;
  height: 36px;
  padding: 0 10px;
  margin: 30px 5px 0 5px;
  border-radius: 4px;
  cursor: pointer;
}

input[type="submit"]:hover {
  box-shadow: 1px 1px 5px 0 #BEBFBE;
  color: #000;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

input[type="submit"]:focus {
  box-shadow: 1px 1px 5px 0 #BEBFBE;
  color: #000;
  border: 1px solid #1990FF;
}

input[value="Google Search"] {
  width: 120px;
}

input[value="I'm Feeling Lucky"] {
  width: 140px;
}

@media only screen and (max-width: 600px){
  .options {
    display: none;
  }
}

/* FOOTER */

footer {
  position: fixed;
  bottom: 0;
  background-color: #f2f2f2;
  width: 100%;
  height: 45px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid #5F6368;
}

footer a {
  color: #5F6368;
  font-size: 14px;
}

footer div {
  display: flex;
  justify-content: space-evenly;
}

.footer-links-left {
  width: 300px;
}

.footer-links-right {
  width: 200px;
}

@media only screen and (max-width: 600px) {

  footer {
    height: 70px;
    flex-flow: column;
    justify-content: space-evenly;
  }

  footer a {
    font-size: 15px;
  }

  .footer-links-left {
    width: 100%;
  }

  .footer-links-right {
    width: 100%;
  }
}
